<template name="basicinfo">
<div class="basicinfo">
    {{>header_small}}

<div class="container-fluid">
  <div class="row content">
    {{>header_large}}
    
    
    <br>
    <div class="col-sm-9">
    {{#if currentUser}}  
      <div class="well" align="center"  >
        <h3 style="font-weight:bold;">店家資訊 </h3><h4 style="font-weight:bold;">Shop Information</h4>
      </div>

      <div class="well" align="center" id="pic"  >
          <table style="width:100%; text-align:center;">
            <tr><td colspan="3" style="width:100%; text-align:center; padding:10px ">
                <h4 style="font-weight:bold;">編輯圖片</h4><h5 style="font-weight:bold;">Pictures</h5>
            </td></tr>
            <tr>
              <td style="width:33%; text-align:center; padding:10px ">
                <div class="thumbnail">
                  <a href="uploads/{{ info.sh_pic1 }}">
                  <img src="uploads/{{ info.sh_pic1 }}" alt="Lights" style="width:100%">
                  </a>
                  <div class="caption">
                    <button class="btn btn-danger" style="width:100%; margin-top:10px" data-toggle="modal" data-target="#change1">更換</button>
                  </div>
                </div>
              </td>

              <td style="width:33%; text-align:center; padding:10px ">
                <div class="thumbnail">
                  <a href="uploads/{{ info.sh_pic2 }}">
                  <img src="uploads/{{ info.sh_pic2 }}" alt="Lights" style="width:100%">
                  </a>
                  <div class="caption">
                    <button class="btn btn-danger" style="width:100%; margin-top:10px" data-toggle="modal" data-target="#change2">更換</button>
                  </div>
                </div>
              </td>

              <td style="width:33%; text-align:center; padding:10px ">
                <div class="thumbnail">
                  <a href="uploads/{{ info.sh_pic3 }}">
                  <img src="uploads/{{ info.sh_pic3 }}" alt="Lights" style="width:100%">
                  </a>
                  <div class="caption">
                    <button class="btn btn-danger" style="width:100%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
                  </div>
                </div>
              </td>

            </tr>

            <tr><td colspan="3" style="width:100%; text-align:center; padding:10px ">
                <a href="mypic"><button class="btn btn-primary" style="width:100%; margin-top:10px">上傳新圖</button></a>
            </td></tr>
          </table>
          <!-- 隱藏div -->
            <div class="modal fade" id="change1" role="dialog">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">編輯圖檔1</h4>
                  </div>
                  <div class="modal-body">
                    <table style="width:100%; text-align:center;">
                      <tr>
                      {{#each theFiles}}
                        <td style="width:33%; text-align:center; padding:10px ">
                          <div class="thumbnail" >
                            <a href=""><img src="{{url}}" alt="Lights" style="width:100%"></a>
                            <div class="caption">
                                <input type="button" id="choose_pic1" class="btn btn-success" value="check" style="width:100%; margin-top:10px">
                            </div>
                          </div>
                        </td>
                      {{/each}}
                      </tr>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-success update_pic1" data-dismiss="modal">確認更改</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button> -->
                  </div>
                </div>
                
              </div>
            </div>

            <div class="modal fade" id="change2" role="dialog">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">編輯圖檔2</h4>
                  </div>
                  <div class="modal-body">
                    <table style="width:100%; text-align:center;">
                      <tr>
                      {{#each theFiles}}
                        <td style="width:33%; text-align:center; padding:10px ">
                          <div class="thumbnail" >
                            <a href=""><img src="{{url}}" alt="Lights" style="width:100%"></a>
                            <div class="caption">
                                <input type="button" id="choose_pic2" class="btn btn-success" value="check" style="width:100%; margin-top:10px">
                            </div>
                          </div>
                        </td>
                      {{/each}}
                      </tr>
                    </table>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
                
              </div>
            </div>

            <div class="modal fade" id="change3" role="dialog">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">編輯圖檔3</h4>
                  </div>
                  <div class="modal-body">
                    <table style="width:100%; text-align:center;">
                      <tr>
                      {{#each theFiles}}
                        <td style="width:33%; text-align:center; padding:10px ">
                          <div class="thumbnail" >
                            <a href=""><img src="{{url}}" alt="Lights" style="width:100%"></a>
                            <div class="caption">
                                <input type="button" id="choose_pic3" class="btn btn-success" value="check" style="width:100%; margin-top:10px">
                            </div>
                          </div>
                        </td>
                      {{/each}}
                      </tr>
                    </table>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
                
              </div>
            </div>
        </div>


        <div class="well" align="center" id="text"  >
            <h4 style="font-weight:bold;">敘述管理</h4><h5 style="font-weight:bold;">Text Information</h5>

            <table style="width:100%">
                <tr>
                    <td style="width:20%; text-align:center; padding:10px "><h4 style="font-weight:bold;">地址</h4></td>
                    <td style="width:60%; text-align:center; padding:10px ">
                        <div class="thumbnail" style="color:black; padding:5%"><strong>{{ info.sh_address }}</strong></div>
                    </td>
                    <td style="width:20%; text-align:center; padding:10px "><button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change11">更換</button></td>
                </tr>

                <tr>
                    <td style="width:20%; text-align:center; padding:10px "><h4 style="font-weight:bold;">電話</h4></td>
                    <td style="width:46%; text-align:center; padding:10px ">
                        <div class="thumbnail" style="color:black; padding:5%"><strong>{{ info.sh_phone }}</strong></div>
                    </td>
                    <td style="width:33%; text-align:center; padding:10px "><button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change12">更換</button></td>
                </tr>

                <tr>
                    <td style="width:20%; text-align:center; padding:10px "><h4 style="font-weight:bold;">商店介紹</h4></td>
                    <td style="width:46%; text-align:center; padding:10px ">
                        <div class="thumbnail" style="color:black; padding:5%">
                            <strong>{{ info.sh_info }}</strong>
                        </div>
                    </td>
                    <td style="width:33%; text-align:center; padding:10px "><button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change13">更換</button></td>
                </tr>
            </table>
            

            <!--隱藏區塊-->
            <div class="modal fade" id="change11" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">地址修改</h4>
                  </div>
                  <div class="modal-body">
                    <textarea id="address" placeholder="輸入更新文字" style="width:90%;height:200px" required></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success update_address" data-dismiss="modal">確認更改</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="change12" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">電話修改</h4>
                  </div>
                  <div class="modal-body">
                    <textarea id="phone" placeholder="輸入更新文字" style="width:90%;height:200px"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success update_phone" data-dismiss="modal">確認更改</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="change13" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">商店介紹修改</h4>
                  </div>
                  <div class="modal-body">
                    <textarea id="info" placeholder="輸入更新文字" style="width:90%;height:200px"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success update_info" data-dismiss="modal">確認更改</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                  </div>
                </div>
              </div>
            </div>

            
        </div>


<!-- {{#each shops }}
{{sh_id}}
{{/each}} -->
<!-- {{ shop_add }}
{{ shop_img }} -->


    {{else}}
      {{> permitsion}}
    {{/if}}
    </div>
</div>
</div>
</div>
</template>