<template name="basicinfo">
<div class="basicinfo">
    {{>header_small}}

<div class="container-fluid">
  <div class="row content">
    {{>header_large}}
    
    
    <br>
    <div class="col-sm-9">
      <div class="well" align="center"  >
        <h3 style="font-weight:bold;">店家資訊 </h3><h4 style="font-weight:bold;">Shop Information</h4>
      </div>

      <div class="well" align="center" id="pic"  >
          <table style="width:100%; text-align:center;">
            <tr><td colspan="3" style="width:100%; text-align:center; padding:10px ">
                <h4 style="font-weight:bold;">圖片管理</h4><h5 style="font-weight:bold;">Pictures</h5>
            </td></tr>
            <tr>
              <td style="width:33%; text-align:center; padding:10px ">
                <div class="thumbnail">
                  <a href="Nike.jpg">
                  <img src="Nike.jpg" alt="Lights" style="width:100%">
                  </a>
                  <div class="caption">
                    <button class="btn btn-danger" style="width:100%; margin-top:10px" data-toggle="modal" data-target="#change1">更換</button>
                  </div>
                </div>
              </td>

              <td style="width:33%; text-align:center; padding:10px ">
                <div class="thumbnail">
                  <a href="Nike.jpg">
                  <img src="Nike.jpg" alt="Lights" style="width:100%">
                  </a>
                  <div class="caption">
                    <button class="btn btn-danger" style="width:100%; margin-top:10px" data-toggle="modal" data-target="#change2">更換</button>
                  </div>
                </div>
              </td>

              <td style="width:33%; text-align:center; padding:10px ">
                <div class="thumbnail">
                  <a href="Nike.jpg">
                  <img src="Nike.jpg" alt="Lights" style="width:100%">
                  </a>
                  <div class="caption">
                    <button class="btn btn-danger" style="width:100%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
                  </div>
                </div>
              </td>

            </tr>
          </table>

            <div class="modal fade" id="change1" role="dialog">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">編輯圖檔</h4>
                  </div>
                  <div class="modal-body">
                    <div class="thumbnail">
                      <a href="Nike.jpg">
                      <img src="Nike.jpg" alt="Lights" style="width:100%">
                      </a>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <input type="file" style="color:black">
                    <button type="button" class="btn btn-success" data-dismiss="modal">確認更改</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="modal fade" id="change2" role="dialog">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">編輯圖檔2</h4>
                  </div>
                  <div class="modal-body">
                    <div class="thumbnail">
                      <a href="Nike.jpg">
                      <img src="Nike.jpg" alt="Lights" style="width:100%">
                      </a>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <input type="file" style="color:black">
                    <button type="button" class="btn btn-success" data-dismiss="modal">確認更改</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="modal fade" id="change3" role="dialog">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">編輯圖檔3</h4>
                  </div>
                  <div class="modal-body">
                    <div class="thumbnail">
                      <a href="Nike.jpg">
                      <img src="Nike.jpg" alt="Lights" style="width:100%">
                      </a>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <input type="file" style="color:black">
                    <button type="button" class="btn btn-success" data-dismiss="modal">確認更改</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                  </div>
                </div>
                
              </div>
            </div>
        </div>


        <div class="well" align="center" id="text"  >
            <h4 style="font-weight:bold;">敘述管理</h4><h5 style="font-weight:bold;">Text Information</h5>

            <table style="width:100%">
                <tr>
                    <td style="width:20%; text-align:center; padding:10px "><h4 style="font-weight:bold;">地址</h4></td>
                    <td style="width:60%; text-align:center; padding:10px ">
                        <div class="thumbnail" style="color:black; padding:5%"><strong>32085 桃園市中壢區九和一街48號3樓之2</strong></div>
                    </td>
                    <td style="width:20%; text-align:center; padding:10px "><button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change11">更換</button></td>
                </tr>

                <tr>
                    <td style="width:20%; text-align:center; padding:10px "><h4 style="font-weight:bold;">電話</h4></td>
                    <td style="width:46%; text-align:center; padding:10px ">
                        <div class="thumbnail" style="color:black; padding:5%"><strong>03-280-5018</strong></div>
                    </td>
                    <td style="width:33%; text-align:center; padding:10px "><button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change12">更換</button></td>
                </tr>

                <tr>
                    <td style="width:20%; text-align:center; padding:10px "><h4 style="font-weight:bold;">商店介紹</h4></td>
                    <td style="width:46%; text-align:center; padding:10px ">
                        <div class="thumbnail" style="color:black; padding:5%">
                            <strong>「威尼斯」是一個許多人作夢都想去的地方，迷樣的都市充滿了浪漫的情懷，令人垂涎三尺的盛饌、咖啡，聞名的歌劇及令人目眩的嘉年華會。無論是文學家、藝術家、音樂家、哲學家，甚至是電影工作者從1896年的魯米爾（Lumiere）兄弟到一百年後的外國導演都選擇在威尼斯做為電影拍片的背景。事實上電影就如同整個威尼斯，像個嘉年華會般的充滿戲如人生的自我放縱，在影片中每個演員戴上了扮演角色的面具精湛地演出，在戲院中每個觀眾卸下平日的面具被賦予作夢的情懷；觀看與被觀看，這就是進入戲院裏觀看電影令人著迷的地方，也因此我們決定以「威尼斯影城」做為我們影城的名稱。</strong>
                        </div>
                    </td>
                    <td style="width:33%; text-align:center; padding:10px "><button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change13">更換</button></td>
                </tr>
            </table>
            

            <!--隱藏區塊-->
            <div class="modal fade" id="change11" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">地址修改</h4>
                  </div>
                  <div class="modal-body">
                    <textarea placeholder="輸入更新文字" style="width:90%;height:200px"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">確認更改</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="change12" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">電話修改</h4>
                  </div>
                  <div class="modal-body">
                    <textarea placeholder="輸入更新文字" style="width:90%;height:200px"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">確認更改</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="change13" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">商店介紹修改</h4>
                  </div>
                  <div class="modal-body">
                    <textarea placeholder="輸入更新文字" style="width:90%;height:200px"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">確認更改</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                  </div>
                </div>
              </div>
            </div>

            
        </div>



    </div>
</div>
</div>
    
    

</div>
</template>