<template name="finish">
<div class="signin">
    {{>header_small}}

<div class="container-fluid">
  <div class="row content">
    {{>header_large}}<br>

    <div class="col-sm-9">
      <div class="well" align="center"  >
        <h3 style="font-weight:bold;">註冊 </h3><h4 style="font-weight:bold;">Sign In</h4>
      </div>

      <div class="well" align="center" >
          <form class="thumbnail" style="width:70%; padding:5%">

            <div  id="con2">
                <h4>Step 4: 等待審核</h4><hr>
                <h4 style="font-weight:bold;">
                    等待商圈進行審核...<br><br>
                    <div style="color:#8F0000">請注意您所填寫的信箱,審核完成後將會利用信箱進行通知</div>
                </h4>

                <!-- <input type="button" value="上一步" class="btn btn-primary b44"> -->
                <!-- <a href="login"><input type="button" value="完成進行登入" class="btn btn-primary b4"></a> -->
            </div>
            
          </form>
        
      </div>
    </div>
  </div>  
</div>

</div>
</template>