<template name="home">
<div class="home">
    {{>header_small}}

<div class="container-fluid">
  <div class="row content">
    {{>header_large}}


    <br>
    <div class="col-sm-9">
    {{#if currentUser}}  
      <div class="well" align="center"  >
        <h3 style="font-weight:bold;">首頁 </h3><h4 style="font-weight:bold;">HOME</h4>
      </div>

      <div class="well" align="center"  >
        <h4 style="font-weight:bold;">{{info.sh_name}},歡迎使用VENUS商家管理系統!!</h4><br>
        {{#each notification}}
        <div class="alert alert-success alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <strong>商圈公告: {{bd_title}}</strong><br>
          <strong>今日商圈有最新公告</strong>
        </div>
        {{/each}}

        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <strong>改善通知</strong><br>
          <strong>商圈建議改善內容</strong>
        </div>

        <!--<div class="alert alert-info alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
        </div>
        <div class="alert alert-warning alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
        </div>-->
      </div>
    {{else}}
      {{> permitsion}}
    {{/if}}  
    </div>
</div>
</div>
</div>
</template>