<template name="log">
<div class="login">
    {{>header_small}}

<div class="container-fluid">
  <div class="row content">
    {{>header_large}}<br>

    <div class="col-sm-9">
      <div class="well" align="center"  >
        <h3 style="font-weight:bold;">登入 </h3><h4 style="font-weight:bold;">LogIn</h4>
      </div>

      <div class="well" align="center" style="height:500px">
          <form>
            <div style="width:40%; margin-top:100px">
              <div class="login1">
                  <div class="input-group" >
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                  </div>
                  <br>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                  </div><br> 
                  <div class="error">請輸入正確信箱與密碼!!<br><br></div>
                  <input type="button" class="btn btn-primary" value="ENTER" style="width:100%" id="login-form"><br><br>
      
                  <div class="forgetpwd">忘記密碼</div>
              </div>
              

              <div style="display:none" class="forgetpwd1">
                <div class="input-group" >
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input id="forget" type="text" class="form-control" name="email" placeholder="Email">
                </div><br>
                <input id="username" type="text" class="form-control" name="username" placeholder="請輸入您的店家名稱"><br>
                <input type="button" class="btn btn-warning" value="忘記密碼" style="width:100%" id="forget_btn"><br><br>
                <div class="backlogin">登入</div>
              </div>

            </div>
          </form>
      </div>
    </div>
  </div>  
</div>

</div>
</template>