<template name="mypic">
<div class="mypic">
    {{>header_small}}

<div class="container-fluid">
  <div class="row content">
    {{>header_large}}


    <br>
    <div class="col-sm-9">
    {{#if currentUser}}  
      <div class="well" align="center"  >
        <h3 style="font-weight:bold;">圖片管理 </h3><h4 style="font-weight:bold;">Pictures</h4>
      </div>

      <div class="well" align="center"  >
        <h4 style="font-weight:bold;">商家介紹圖</h4><h5 style="font-weight:bold;"></h5>
        
        <table style="width:100%; text-align:center;">
            
            <tr>
            {{#each theFiles}}
              <td style="width:33%; text-align:center; padding:10px ">
                <div class="thumbnail" >
                  <a href=""><img src="{{url}}" alt="Lights" style="width:100%"></a>
                  <div class="caption">
                      <input type="button" id="deleteFileButton" class="btn btn-danger" value="delete" style="width:100%; margin-top:10px">
                  </div>
                </div>
              </td>
            {{/each}}
            </tr>
        </table>
        
        <div>
            <input class="upload-class" type="file"><br>
            <button class="btn btn-default upload" style="width:50%">上傳</button>
        </div>
      </div>


    <!-- {{#each theFiles}}
        <tr>
          <td>{{creatorId}}|</td> 
          <td>{{uploadedAt}}|</td> 
          <td>{{original.name}}|</td>
          <td>{{copies.FileCollection.key}}|</td>
          <td><a href="{{url}}">link<img width="30%" src="{{url}}">|</a></td>
          <td>{{#if isUploaded}}uploaded{{/if}}|</td>
          <td><button >delete</button><input type="button" id="deleteFileButton" value="delete"></td>
        </tr>
        {{/each}} -->


    {{else}}
      {{> permitsion}}
    {{/if}}  
    </div>
</div>
</div>
</div>
</template>