<template name="privacy">
<div class="privacy">
    {{>header_small}}

<div class="container-fluid">
  <div class="row content">
    {{>header_large}}


    <br>
    <div class="col-sm-9">
    {{#if currentUser}}  
      <div class="well" align="center"  >
        <h3 style="font-weight:bold;">隱私設定 </h3><h4 style="font-weight:bold;">Privacy Setting</h4>
      </div>

      <div class="well" align="center" id="normal">
        <h4 style="font-weight:bold;">基本資料</h4><h5 style="font-weight:bold;">Normal Info</h5>
        <div class="thumbnail" style="margin:30px; margin-left:20%; margin-right:20%; padding:5%;">
        <table style="width:100%; text-align:center;">

           <!-- 名稱 -->
           <tr> 
            <td colspan="2" style="width:50%; text-align:center; padding:10px ">
              <strong>商家名稱</strong><br>
              <h5>您目前的名稱</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>
          
          <tr>
            <td colspan="2" style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> {{info.sh_name}}</h5>
            </td>
            <!-- <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change_name">更換</button>
            </td> -->
          </tr>

          <tr><td colspan="2"><hr></td></tr>

          <!-- 信箱 -->
          <tr>
            <td colspan="2" style="width:50%; text-align:center; padding:10px ">
              <strong>信箱</strong><br>
              <h5>您目前的信箱</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>
          
          <tr>
            <td colspan="2" style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> {{info.sh_mail}}</h5>
            </td>
            <!-- <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change_mail">更換</button>
            </td> -->
          </tr>

          <tr><td colspan="2"><hr></td></tr>

           <!-- 電話 
           <tr> 
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>商家電話</strong><br>
              <h5>您目前的電話號碼</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>
          
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> {{info.sh_phone}}</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>

          <tr><td colspan="2"><hr></td></tr>

           地址
           <tr> 
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>商家地址</strong><br>
              <h5>您目前的地址</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>
          
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> {{info.sh_address}}</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>

          <tr><td colspan="2"><hr></td></tr> -->

          <!-- 負責人 -->
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>商家負責人</strong><br>
              <h5>您目前的負責人</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> {{info.sh_admin}}</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change_person">更換</button>
            </td>
          </tr>
          <tr><td colspan="2"><hr></td></tr>
          
          <!-- 負責人電話 -->
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>負責人電話</strong><br>
              <h5>您目前的電話</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> {{info.sh_admin_phone}}</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change_person_phone">更換</button>
            </td>
          </tr>

        </table>
        </div>
      </div>

      <div class="well" align="center" id="idpwd">
        <h4 style="font-weight:bold;">密碼</h4><h5 style="font-weight:bold;">Password</h5>
        <div class="thumbnail" style="margin:30px; margin-left:20%; margin-right:20%; padding:5%;">
        <table style="width:100%; text-align:center;">

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>密碼</strong><br>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change_pwd">更換</button>
            </td>
          </tr>

        </table>
        </div>
      </div>



      <!-- 隱藏區塊 -->
      <div class="modal fade" id="change_name" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"  style="color:black">店家名稱修改</h4>
              </div>
              <div class="modal-body">
                  <input type="text" class="form-control" id="name">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success update_name" data-dismiss="modal">確認更改</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="change_mail" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"  style="color:black">信箱修改</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="mail">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success update_mail" data-dismiss="modal">確認更改</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="change_person" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"  style="color:black">負責人修改</h4>
                  </div>
                  <div class="modal-body">
                      <input type="text" class="form-control" id="person">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success update_person" data-dismiss="modal">確認更改</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="change_person_phone" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title"  style="color:black">負責人電話修改</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="person_phone">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success update_person_phone" data-dismiss="modal">確認更改</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="change_pwd" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"  style="color:black">密碼修改</h4>
                      </div>
                      <div class="modal-body">
                        <label>原密碼</label>
                          <input type="password" class="form-control" id="oldPassword">
                        <label>新密碼</label>
                          <input type="password" class="form-control" id="newPassword">
                        <label>確認新密碼</label>
                          <input type="password" class="form-control" id="newPassword2">
                        <div style="display:none; color:brown">新密碼確認不符</div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success update_pwd" data-dismiss="modal">確認更改</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                      </div>
                    </div>
                  </div>
                </div>



    {{else}}
      {{> permitsion}}
    {{/if}}
    </div>
</div>
</div>
</div>
</template>