<template name="privacy">
<div class="privacy">
    {{>header_small}}

<div class="container-fluid">
  <div class="row content">
    {{>header_large}}


    <br>
    <div class="col-sm-9">
    {{#if currentUser}}  
      <div class="well" align="center"  >
        <h3 style="font-weight:bold;">隱私設定 </h3><h4 style="font-weight:bold;">Privacy Setting</h4>
      </div>

      <div class="well" align="center" id="normal">
        <h4 style="font-weight:bold;">基本資料</h4><h5 style="font-weight:bold;">Normal Info</h5>
        <div class="thumbnail" style="margin:30px; margin-left:20%; margin-right:20%; padding:5%;">
        <table style="width:100%; text-align:center;">

           <!-- 名稱 -->
           <tr> 
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>商家名稱</strong><br>
              <h5>您目前的名稱</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>
          
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> {{info.sh_name}}</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>

          <tr><td colspan="2"><hr></td></tr>

          <!-- 信箱 -->
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>信箱</strong><br>
              <h5>您目前的信箱</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>
          
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> {{info.sh_mail}}</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>

          <tr><td colspan="2"><hr></td></tr>

           <!-- 電話 
           <tr> 
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>商家電話</strong><br>
              <h5>您目前的電話號碼</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>
          
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> {{info.sh_phone}}</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>

          <tr><td colspan="2"><hr></td></tr>

           地址
           <tr> 
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>商家地址</strong><br>
              <h5>您目前的地址</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>
          
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> {{info.sh_address}}</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>

          <tr><td colspan="2"><hr></td></tr> -->

          <!-- 負責人 -->
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>商家負責人</strong><br>
              <h5>您目前的負責人</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> {{info.sh_admin}}</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>
          <tr><td colspan="2"><hr></td></tr>
          
          <!-- 負責人電話 -->
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>負責人電話</strong><br>
              <h5>您目前的電話</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> {{info.sh_admin_phone}}</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>

        </table>
        </div>
      </div>

      <div class="well" align="center" id="idpwd">
        <h4 style="font-weight:bold;">密碼</h4><h5 style="font-weight:bold;">Password</h5>
        <div class="thumbnail" style="margin:30px; margin-left:20%; margin-right:20%; padding:5%;">
        <table style="width:100%; text-align:center;">

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>密碼</strong><br>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>

        </table>
        </div>
      </div>


    {{else}}
      {{> permitsion}}
    {{/if}}
    </div>
</div>
</div>
</div>
</template>