<template name="privacy">
<div class="privacy">
    {{>header_small}}

<div class="container-fluid">
  <div class="row content">
    {{>header_large}}


    <br>
    <div class="col-sm-9">
      <div class="well" align="center"  >
        <h3 style="font-weight:bold;">隱私設定 </h3><h4 style="font-weight:bold;">Privacy Setting</h4>
      </div>

      <div class="well" align="center" id="normal">
        <h4 style="font-weight:bold;">基本資料</h4><h5 style="font-weight:bold;">Normal Info</h5>
        <div class="thumbnail" style="margin:30px; margin-left:20%; margin-right:20%; padding:5%;">
        <table style="width:100%; text-align:center;">
          
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>信箱</strong><br>
              <h5>您目前的信箱</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> dennis175168@gmail.com</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>

          <tr><td colspan="2"><hr></td></tr>

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>商家負責人</strong><br>
              <h5>您目前的負責人</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> 李宸宇</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>
          <tr><td colspan="2"><hr></td></tr>
          
          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>商家電話</strong><br>
              <h5>您目前的電話</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> 0922266648</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>

        </table>
        </div>
      </div>

      <div class="well" align="center" id="idpwd">
        <h4 style="font-weight:bold;">帳號密碼</h4><h5 style="font-weight:bold;">ID Password</h5>
        <div class="thumbnail" style="margin:30px; margin-left:20%; margin-right:20%; padding:5%;">
        <table style="width:100%; text-align:center;">

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>帳號</strong><br>
              <h5>您目前的帳號</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
            </td>
          </tr>

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <h5><span class="glyphicon glyphicon-ok"></span> dennis175168</h5>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>

          <tr><td colspan="2"><hr></td></tr>

          <tr>
            <td style="width:50%; text-align:center; padding:10px ">
              <strong>密碼</strong><br>
            </td>
            <td  style="width:50%; text-align:center; padding:10px ">
              <button class="btn btn-danger" style="width:50%; margin-top:10px" data-toggle="modal" data-target="#change3">更換</button>
            </td>
          </tr>

        </table>
        </div>
      </div>



    </div>
</div>
</div>



</div>
</template>