<template name="signin">
<div class="signin">
    {{>header_small}}

<div class="container-fluid">
  <div class="row content">
    {{>header_large}}<br>

    <div class="col-sm-9">
      <div class="well" align="center"  >
        <h3 style="font-weight:bold;">註冊 </h3><h4 style="font-weight:bold;">Sign In</h4>
      </div>

      <div class="well" align="center" style="height:500px">
          <form class="thumbnail" style="width:70%">
            <div class="c">
                <div>
                    <h4>註冊說明</h4><hr>
                </div>
                <input type="button" value="開始註冊" class="btn btn-primary b" >
            </div>
            <div  class="c1">
                1
                <input type="button" value="下一步" class="btn btn-primary b1">
            </div>

            <div  class="c2" id="con2">
                2
                <input type="button" value="下一步" class="btn btn-primary b2">
            </div>

            <div  class="c3" id="con2">
                3
                <input type="button" value="下一步" class="btn btn-primary b3">
            </div>
        
            <div  class="c4" id="con2">
                4
                <a href="login"><input type="button" value="完成進行登入" class="btn btn-primary b4"></a>
            </div>
            
          </form>
        
      </div>
    </div>
  </div>  
</div>

</div>
</template>