.signin{
@import 'header.scss';

    .c1{
        display: none;
    }
    .c2{
        display: none;
    }
    .c3{
        display: none;
    }
    .c4{
        display: none;
    }
    .sw {
        display: block;
    }
    .hd{
        display: none;
    }
    
}